# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter / Dart
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.db
logs/
*.log
venv_*/
frontend/venv/
backend/venv/
scraper/venv/
test_*.py
